body{
    background:url("foto.jpg") no-repeat;
    background-size: 1600px 750px;
}
.titulo{
    font-family:"Arial";
    font-size:2em;
}
.texto{
    background:rgba(255, 255, 255, 0.275) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:200% ;
    margin:0 auto;
    width:600px;
    padding: 2em;
    width:70%;
}